.bodyWrapper {
  background: var(--color-bg-main);
  background-image: url("https://static.vecteezy.com/system/resources/previews/072/215/613/large_2x/serene-minimalist-living-room-with-mountain-mural-and-natural-light-free-photo.jpeg"); /* The blurred furniture image */
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Card is on the right in image */
  padding: 2rem 10%;
}

/* .container{
  width: 100%;
} */

.passwordCard {
  background: var(--color-white);
  padding: 3rem;
  border-radius: var(--border-radius-lg);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  width: 100%;
  max-width: var(--max-width-card);
}

.title {
  font-family: var(--font-family-serif);
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.subtitle {
  color: var(--color-text-muted);
  font-size: 0.9rem;
  margin-bottom: 2rem;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--color-text-muted);
}

.inputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: var(--border-radius-md);
  padding: 12px 16px;
  border: 1px solid var(--color-border);
  background: #fcfcfc;
}

.inputWrapper input {
  width: 100%;
  outline: none;
  /* padding: 12px 16px; */
  border: 0px solid white;
}

.inputWrapper input:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0px solid white;
}
.submitBtn {
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  border: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
  margin-top: 1rem;
  background: linear-gradient(90deg, #fd2153, #fd23d4 55%, #6afd2e);
  box-shadow: 0 10px 28px rgba(106, 253, 46, 0.25),
    inset 0 0 0 1px rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: filter 0.2s ease, transform 0.08s ease-in-out;
}

.errorText {
  color: red;
  padding-top: 5px;
  font-family: var(--font-family-serif);
  font-size: 10px;
}

/* Responsiveness */
@media (max-width: 1024px) {
  .bodyWrapper {
    justify-content: center;
    padding: 2rem;
  }
}
@media (max-width: 950px) {
  .container {
    width: 80%;
  }
}
@media (max-width: 850px) {
  .container {
    width: 80%;
  }
  .passwordCard {
    width: 80%;
  }
}
@media (max-width: 600px) {
  .passwordCard {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .passwordCard {
    padding: 1.5rem;
    border-radius: 16px;
    width: 93%;
  }
    .container {
    width: 95%;
  }
  .title {
    font-size: 1.5rem;
  }

  .bodyWrapper {
    min-height: 65vh;
  }
}

@media (max-width: 400px) {
  .passwordCard {
    padding: 1rem;
    /* border-radius: 16px; */
    width: 95%;
  }
      .container {
    width: 100%;
  }
}
