.ctaContainer {
  width: 100%;
  height: 450px;
  background-image: url("https://lilyautumn.co.uk/cdn/shop/files/2362_b041d818-345e-411c-ad3f-1d89c02379c3.jpg?v=1706432232"); /* Replace with your local asset path */
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  text-align: center;
  color: #ffffff;
  max-width: 800px;
  padding: 0 20px;
  font-family: "Inter", sans-serif;
}

.title {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 20px;
  letter-spacing: -1px;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.65;
  margin-bottom: 30px;
  max-width: 650px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins";
}

.orderButton {
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 15px 40px;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 2px;
}

.orderButton:hover {
  background-color: #f0f0f0;
  transform: translateY(-2px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

/* --- Responsive Breakpoints --- */

/* Tablets (Medium) */
@media (max-width: 850px) {
  .container {
    width: 90% !important;
  }
}

/* Tablets (Medium) */
@media (max-width: 768px) {
  .title {
    font-size: 2.2rem;
  }
  .subtitle {
    font-size: 1rem;
  }
}

/* Mobile (Small) */
@media (max-width: 480px) {
  .ctaContainer {
    /* height: auto; */
    padding: 30px 0;
  }
  .title {
    font-size: 1.9rem;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 1rem;
    line-height: 1.4;
  }
  .orderButton {
    padding: 10px 20px;
    font-size: 1rem;
    width: 80%;
  }
  .ctaContainer {
    height: 380px;
  }
}
@media (max-width: 370px) {
  .ctaContainer {
    padding: 20px 0;
  }
  .title {
    font-size: 1.7rem;
    margin-bottom: 15px;
  }
  .subtitle {
    font-size: 0.8rem;
    line-height: 1.4;
  }
  .orderButton {
    padding: 10px 30px;
    font-size: 0.8rem;
    width: 80%;
  }
  .ctaContainer {
    height: 380px;
  }
  .orderButton {
    padding: 10px 10px;
    font-size: 1rem;
    width: 80%;
  }
}
