.bar {
  background-color: var(--color-bg-secondary);
  color: white;
  padding: 15px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icon {
  /* font-size: 2.8rem; */
  /* font-size: 40px; */
  width: 70px;
  height: 70px;
  object-fit: cover;
}
.text p {
  /* margin: 0; */
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 20px;
  }
}
