.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1.2fr; /* Responsive Split */
  max-width: 1300px;
  width: 100%;
  gap: 40px;
  align-items: start;
}

/* Image Styling */
.imageSection {
  width: 100%;
  height: 100%;
}
.iconImage {
  width: 120px;
  height: 80px;
  object-fit: cover;
}

.mainImg {
  width: 100%;
  height: 600px;
  object-fit: cover;
  display: block;
}

/* Form Section Styling */
.formSection {
  padding: 20px 0;
}

.header h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 10px 0;
  color: #1a1a1a;
}

.header p {
  color: #666;
  font-size: 0.95rem;
  margin-bottom: 30px;
  line-height: 1.5;
}

.formGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputGroup label {
  font-weight: 600;
  font-size: 0.9rem;
  color: #333;
}

.fullWidth {
  grid-column: span 2;
}

.submitBtn {
  /* grid-column: 1;   */
  background-color: #121d26;
  color: white;
  padding: 12px 40px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 10px;
  transition: opacity 0.3s;
  width: 150px;
  font-family: 'Jost';
}

.submitBtn:disabled {
  background-color: #cccccc;
}

/* Responsiveness */
@media (max-width: 992px) {
  .container {
    grid-template-columns: 1fr; /* Stack on medium screens */
  }

  .imageSection {
    display: none; /* Often hidden on smaller screens to save space */
  }
}

@media (max-width: 600px) {
  .formGrid {
    grid-template-columns: 1fr; /* Inputs stack on mobile */
  }
  .fullWidth {
    grid-column: span 1;
  }
}
