

/* HERO */
.hero {
  /* height: 350px; */
  height: 100%;
  background: url("https://images.pexels.com/photos/3183197/pexels-photo-3183197.jpeg")
    center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.heroOverlay {
  background: rgba(58, 58, 58, 0.7);
  width: 100%;
  height: 100%;
  padding: 60px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-size: 42px;
  font-weight: 500;
  margin-bottom: 20px;
}
.hero p {
  max-width: 600px;
  margin: 0 auto;
  font-size: 14px;
}
