.sideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100vh;
  background: #ffffff;
  z-index: 1001;

  /* Start it off-screen */
  transform: translateX(-100%);

  /* This ensures it doesn't "flash" on load */
  visibility: hidden;

  transition: transform 01s cubic-bezier(0.4, 0, 0.2, 1), visibility 0.5s;

  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 15px rgba(0, 0, 0, 0.05);
}

.open {
  transform: translateX(0);
  visibility: visible; /* Make it visible only when opening */
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, visibility 0.4s;
  z-index: 1000;
  pointer-events: none;
}

.show {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

/* Header Section */
.header {
  padding: 30px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 15px;
}

.menuBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  border-bottom: 1px solid rgb(219, 219, 219);
  /* padding-top: 5px; */
}

.avatarWrapper {
  width: 150px;
  height: 80px;
  object-fit: cover;
}

.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.greeting {
  font-size: 1.1rem;
  color: #333;
  display: block;
}

.name {
  font-size: 0.9rem;
  color: #888;
  margin: 0;
  font-weight: 400;
}

.closeBtn {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #ccc;
  cursor: pointer;
}

/* Theme Toggle */
.themeSection {
  padding: 0 24px 30px;
}
.label {
  font-family: var(--font-family-serif);
  font-size: 14px;
  font-weight: 500;
  color: black;
}

.sectionLabel {
  font-size: 0.85rem;
  color: #aaa;
  margin-bottom: 12px;
}

.toggleContainer {
  background: #f5f5f5;
  padding: 4px;
  border-radius: 10px;
  display: flex;
  gap: 4px;
}

.toggleBtn {
  flex: 1;
  border: none;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  background: transparent;
  color: #999;
  transition: 0.2s;
}

.active {
  background: #ffffff;
  color: #1a1a1a;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Nav Links */
.navLinks {
  flex: 1;
  padding: 0 12px;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px 12px;
  text-decoration: none;
  color: #1a1a1a;
  border-radius: 12px;
  font-weight: 500;
  transition: background 0.2s;
}

.navItem:hover {
  background: #f9f9f9;
}

.icon {
  font-size: 1.25rem;
  color: #acaaaa;
}

/* Footer / Logout */
.footer {
  padding:30px 0px 0px 0px;
  border-top: 1px solid #f0f0f0;
}

.logoutBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 12px;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  background: var(--gradient-wood);
  border-radius: 4px;
  border: none;
}

/* Small Device Adjustments */
@media (max-width: 480px) {
  .sideMenu {
    width: 90%;
  }
}
