.header {
  width: 100%;
  background: #000;
  position: sticky;
  top: 0;
  z-index: 998;
}

.container {
  max-width: 1400px;
  margin: auto;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ---------- Logo ---------- */

.logo img {
  height: 60px;
  width: 100px;
  object-fit: cover;
}

/* ---------- Navigation ---------- */

.nav {
  display: flex;
  gap: 28px;
  align-items: center;
}

.link {
  color: #cfcfcf;
  text-decoration: none;
  font-size: 16px;
  transition: 0.25s;
  font-weight: 500;
}

.link:hover {
  color: #fff;
}

/* Active Home Button */

.active {
  background: var(--gradient-wood);
  color: #fff;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 0 18px rgba(231, 122, 44, 0.7);
}

/* ---------- Right Icons ---------- */

.right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.iconBtn {
  position: relative;
  background: #1a1a1a;
  border: none;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #4c4b4b;
  padding: 10px;
}
.navbarIcon {
  font-size: 22px;
}
.badge {
  position: absolute;
  top: 10px;
  right: 4px;
  background: #ff3b3b;
  color: #fff;
  font-size: 11px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- Mobile Menu Button ---------- */

.menuBtn {
  display: none;
  background: none;
  border: none;
  color: #fff;
  font-size: 26px;
  cursor: pointer;
}
.mobileMenuIcon {
  color: white;
}

/* ================= RESPONSIVE ===================== */

@media (max-width: 1200px) {
  .nav {
    gap: 20px;
  }
  .active {
    padding: 8px 18px;
    border-radius: 6px;
  }
}

@media (max-width: 992px) {
  .nav {
    gap: 16px;
  }
  .link {
    font-size: 15px;
  }
  .active {
    padding: 7px 16px;
    border-radius: 5px;
  }
}

@media (max-width: 910px) {
  .nav {
    gap: 12px;
  }
  .link {
    font-size: 13px;
  }
  .active {
    padding: 6px 13px;
    border-radius: 3px;
  }
}

@media (max-width: 768px) {
  .menuBtn {
    display: block;
  }

  .nav {
    position: fixed;
    top: 80px;
    left: -100%;
    width: 100%;
    height: calc(100vh - 80px);
    background: #000;

    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    gap: 24px;

    transition: 0.3s;
  }

  .open {
    left: 0;
  }
}

@media (max-width: 480px) {
  .container {
    height: 70px;
  }

  .logo img {
    height: 42px;
  }

  .iconBtn {
    /* width: 38px;
    height: 38px; */
    font-size: 18px;
  }
}
