.wrapper {
    width: 99vw;
    margin: 0 auto;
    padding: 30px 0px 60px 0px;

  }
  
  .slick-slide > div {
    margin: 0 20px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  .container{
    overflow: hidden;
    position: relative;
    height: 500px;
    color: #fff;
    cursor: pointer;
    z-index: 999;
    margin: 30px 0px;
  }
  
 .image_box{
    margin: 0px 10px;
    width: 450px;
    height: 450px;

 }
  
  .image_box > img {
    width: 100%;
    height:100%;
    object-fit: cover;
  }
  
 
  
  
  
  
  
  
  
  
  
  
  
  
  