.footer {
  background-color: var(
    --color-primary-dark
  ); /* Matches the clean white of the Graphy image */
  padding: 80px 5% 40px 5%;
  border-top: 1px solid #f0f0f0;
  font-family: "Inter", sans-serif;
  color: #1a1a1a;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.topSection {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 60px;
}

/* Brand Section */
.brandColumn {
  flex: 0 1 350px;
  /* flex: 0 4 300px; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.link,
.logoLink {
  text-decoration: none;
  color: inherit;
}

.companyInfo {
  font-size: 0.9rem;
  font-family: var(--font-family-serif);
  padding-top: 10px;
  color: white;
}

.logoIcon {
  background: #1a1a1a;
  color: white;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-size: 0.8rem;
}

.description {
  color: #666;
  line-height: 1.6;
  font-size: 0.95rem;
  margin-bottom: 24px;
}
.footerContact {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  gap: 10px;
  margin: 15px 0px;
}
.footerContact p {
  color: white;
  font-family: var(--font-family-serif);
}

.socialLinks {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
}

.socialLinks a {
  color: #1a1a1a;
  transition: opacity 0.2s;
}

.socialLinks a:hover {
  opacity: 0.7;
}

/* Links Grid */
.linksGrid {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  gap: 40px;
}

.linkGroup h4 {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: white;
}

.linkGroup ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linkGroup li {
  margin-bottom: 12px;
}

.logo {
  width: 250px;
  height: 80px;
  object-fit: cover;
}
.iconFooter {
  color: white;
}

.linkGroup a {
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
  transition: color 0.2s;
}

.linkGroup a:hover {
  color: #bcbcbc;
}

/* Bottom Section */
.bottomSection {
  padding-top: 30px;
  border-top: 1px solid #f0f0f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  font-size: 0.85rem;
}

.legalLinks {
  display: flex;
  gap: 24px;
}

.legalLinks a {
  text-decoration: none;
  color: white;
}

.legalLinks a:hover {
  text-decoration: underline;
}

/* Responsive Breakpoints */
@media (max-width: 1024px) {
  .topSection {
    flex-direction: column;
  }

  .linksGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .footer {
    padding-top: 50px;
  }

  .linksGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  .bottomSection {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .linksGrid {
    grid-template-columns: 1fr;
  }

  .legalLinks {
    flex-direction: column;
    gap: 12px;
  }
}
