.footer {
  background: url("https://i.ibb.co/TByXC56M/Untitled-design-20260225-221922-0000.png")
    center center no-repeat;
  background-position: center;
  color: #000000;
  font-family: "Inter", sans-serif;  
  /* width: 60%; */

}
.wrapper {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0.9;
  padding: 60px 0px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.logoSection {
  flex: 1 1 250px;
}

.logo {
  max-width: 200px;
  /* height: auto; */
  height: 200px;
}

.column {
  flex: 1 1 200px;
}

.arrowForward {
  color: var(--color-blue);
  font-size: 20px;
}

.column h3 {
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 600;
  
}

.column ul {
  list-style: none;
  padding: 0;
}

.column li {
  margin-bottom: 12px;
}

.column li a {
  text-decoration: none;
  color: #313131;
  display: flex;
  align-items: center;
  /* transition: color 0.3s ease; */
  padding-bottom: 6px;
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.column li a span {
  margin-right: 10px;
  font-size: 0.8rem;
}

.column li a:hover {
  color: #000000;
}
.addressIcon {
  display: flex;
  align-items: center;
  gap: 10px;
}
.iconContact {
  font-size: 25px;
}
.iconMail {
  font-size: 13px;
}
.address p {
  margin: 5px 0;
  color: #000000;
  font-size: 0.95rem;
  line-height: 1.6;
  font-family: "inter";
}

.email {
  margin-top: 15px !important;
}

.socialGrid {
  display: flex;
  gap: 12px;
  margin-top: 25px;
}
.socialBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  background-color: #3b3b3b;  
  border-radius: 8px;
  transition: all 0.3s ease;
  text-decoration: none;
  overflow: hidden;  
}

.socialBox:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.iconFooter {
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

 .socialBox:hover {
  transform: translateY(-3px);
  filter: brightness(1.2);
}
 

/* Instagram Gradient */
.socialBox:nth-child(2) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.socialBox:nth-child(3) {
  background: #000000;
}
/* Facebook Blue */
.socialBox:nth-child(4) {
  background-color: #1877f2;
}

 .socialBox:nth-child(1) {
  background-color: #000000;  
}
.socialBox:nth-child(5) {
  background-color: #86B817;  
}

/* Bottom Section */
.bottomSection {
  padding-top: 30px;
  border-top: 1px solid #d2d2d2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 0.85rem;
  background-color: rgb(255, 255, 255);
  padding: 20px 10px;
}

.bottomSection p span{
  font-weight: 500;
  

}

.legalLinks {
  display: flex;
  gap: 24px;
}

.legalLinks a {
  text-decoration: none;
  color: rgb(31, 31, 31);
}

.legalLinks a:hover {
  text-decoration: underline;
}

/* Responsiveness */

/* Tablets (Medium) */
@media (max-width: 992px) {
  .container {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .bottomSection {
    flex-direction: column-reverse;
    gap: 20px;
    align-items: flex-start;
  }
}

/* Phones (Small) */
@media (max-width: 600px) {
  .footer {
    /* padding: 40px 15px; */
  }
  .container {
    flex-direction: column;
    gap: 30px;
  }
  .logoSection {
    text-align: center;
    margin-bottom: 20px;
  }
  .column h3 {
    margin-bottom: 15px;
  }
  .column {
    flex: 2;
  }

  .container {
    padding: 0px 0px 0px 30px;
  }
}
