:root {
  /* Colors */
  --color-bg-main: #ec5f09; /* Soft beige background */
  --color-bg-secondary: #fa7907; /* Soft beige background */
  --color-primary-dark: #000000; /* Dark brown from the header/footer */
  --color-white: #ffffff;
  --color-text-muted: #666666;
  --color-border: #dcdcdc;
  --color-error: #d93025;
  --color-blue: #5890a6;
  --color-dark: #000000;

  /* Button / Textures */
  --gradient-wood: linear-gradient(to right, #fb8a02, #fd5201); /* Wood texture approximation */
  
  /* Layout */
  --border-radius-lg: 24px;
  --border-radius-md: 12px;
  --max-width-card: 550px;
  
  /* Fonts */
  --font-family-serif: 'Jost', serif; /* Matching the elegant title */
  --font-family-sans: 'Jost', sans-serif;
}